Binaries
DerivedDataCache
Intermediate
Saved
Content/Movies
Content/UI/assets/HowToPlayMedia.uasset
Content/UI/assets/HowToPlayMedia_Video.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace